@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');

h1 {
  font-family:Nanum Pen Script, 바탕체;
  font-size:3em;
}

.italic {
  font-style:italic;
}

.accent {
  font-weight:700;
  font-size:large;
}