#wrapper {
  display:grid;
  grid-template-columns:repeat(auto-fill, minmax(200px, 1fr));
  grid-template-rows:minmax(50px, auto);
}

.items {
  padding:10px;
  background-color:#eee;
}

.items:nth-child(odd) {
  background-color:#bbb;
}