div {
  width:500px;
  height:300px;
  margin:10px;
  border:1px solid #222;
}

.grad1 {
  background:radial-gradient(white, yellow, red);
}

.grad2 {
  background:radial-gradient(circle at 20% 20%, white, yellow, red);
}