body {
  background-color:#eee;
}

#container {
  width:600px;
  margin:20px auto;
}

p {
  width:500px;
  padding:10px;
}

#container > p {
  background-color:#fff;
  border:10px solid #ccc;
}

#container > div > p {
  background-color:#222;
  color:#fff;
  font-weight:bold;
}